@use './card.scss' as *;
@use './button.scss' as *;
@use './modal.scss' as *;
@use './utils.scss' as *;

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: #e5e5e5;
}

input {
  font-size: 16px;
}

.root {
  position: relative;
  width: 375px;
  min-width: 375px;
  height: 700px;
  background-color: #fff;
  border-radius: 15px;
}

.app {
  height: 100%;
  padding: 16px 24px;
}

.page-title {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
  color: #383838;
}
